* {
    margin: 0;
    padding: 0;
}

:root {
    --color-1:#111a35;
    --color-2:#99d3ff;;
    --color-3:#e0f7ff;
    --color-4:#76777c;
    --color-5:#e2e2e2 ;
}

body {
    background-color: var(--color-3);
    display: block;
    margin: 0 auto;
}

.informacion h2 {
    font-family:  'Poppins', sans-serif;
    color: var(--color-3);
    padding: 1.5rem;
    text-align: center;
}

.informacion {
    background-color: var(--color-1);
    height: 15rem;
    width: 100%;
}
.informacion>img {
    width: 12rem;
    display: flex;
    margin: auto;
    border-radius: 200px;
    border: solid var(--color-3) 5px;
    margin-top: 2rem;
    margin-bottom: 2rem;
}

hr {
    border: var(--color-4) 1px solid;
    background-color: var(--color-4);
    
    
    width: 90%;
    margin: 0 auto; 
    margin-bottom: 2rem;
}

.informacion p>span {
    background-color: var(--color-4);
    color: var(--color-3);
}
.informacion>p {
    font-family: 'Poppins', sans-serif;
    font-weight: lighter;
    font-size: 18px;
    text-align: center;
    color: var(--color-1);
    margin: 2rem 0;
}


.informacion ul {
    color: var(--color-1);
    width: 90%;
    margin: 0 auto;
    margin: 2rem;
}

.informacion ul>li {
    font-family: 'Poppins', sans-serif;
    font-size: 18px;
    list-style: square;
    /* margin: 0rem 2rem; */
}


.contenedor {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 90%;
    margin: 2rem auto;
}
.contenedor div {
    /* background-color: gold; */
    width: 50px;
    height: 50px;
    margin: 0 15px;
    display:inline-block;
}

div #foto1 {
    background-image: url(https://firebasestorage.googleapis.com/v0/b/avi-webpage.appspot.com/o/iconos%2Fhtml.svg?alt=media&token=5aee2b02-dbd9-4deb-ae70-4f28788e2747);
    background-size: cover;


}

#foto1 , #foto2, #foto3, #foto4 {
    animation-name: foto1;
    animation-duration: 1.25s;
    animation-iteration-count: infinite;
    animation-direction: alternate-reverse;
}

@keyframes foto1 {
    from {
        opacity: 100%;
    }

    to {
        opacity: 50%;
    }
}
div #foto2 {
    background-image: url(https://firebasestorage.googleapis.com/v0/b/avi-webpage.appspot.com/o/iconos%2Fcss.svg?alt=media&token=318d74bc-f0ce-4e61-b6de-f68a1b3eb320);
    background-position: center;
    background-size: cover;
}

div #foto3 {
    background-image: url(https://firebasestorage.googleapis.com/v0/b/avi-webpage.appspot.com/o/iconos%2Fjavascript.svg?alt=media&token=394c40db-e479-4405-921f-eda55ee15be8);
    background-position: center;
    background-size: cover;
}

div #foto4 {
    background-image: url(https://firebasestorage.googleapis.com/v0/b/avi-webpage.appspot.com/o/iconos%2Fpython.svg?alt=media&token=0626b349-75c3-4143-a7da-372f541598f8);
    background-position: center;
    background-size: cover;
}



.s-proyects {
    width: 90%;
    margin: 0 auto;
}
.s-proyects h1 {
    font-family: 'Poppins', sans-serif;
    text-align: center;
    font-size: 10vh;
    margin-bottom: 2rem;
}
#p-1 {
    background-color: #79112b;
}
.click-view {
    display: flex;
    justify-content: center;
    align-items: center;
}

.proyectos {
    background-color:var(--color-1);
    border-radius: 15px;
    box-shadow: 1px 6px 10px rgb(148, 139, 139);
}
.proyectos h2 {
    text-align: center;
    color: var(--color-3);
    font-size: 2rem;
}


.button-view {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: red;
    width: 8rem;
    height: 3rem;
    border-radius: 15px;
}

.button-view img {
    width: 20px;
    height: auto;
    margin-right: 10px;
    background-color: transparent;
}

.button-view p {
    font-size: 12px;
    color: var(--color-5);
    font-weight: bold;
}

.button-view:hover {
    background-color: #170b4e;
}

.proyectos>img  {
    display: block;
    margin: 1rem auto;
    width: 900px;
}

.redes {
    background-color: var(--color-1);
    color: var(--color-3);
    font-family: 'Poppins', sans-serif;
    text-align: center;
    width: 100%;
    display: block;
    margin: 0 auto;
}

.redes>h3 {
    padding: 1rem 0;
}
.botones_redes {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.botones_redes .boton {
    inline-size: 30px;
    block-size: 30px;
    /* background-color: gold; */
    border:none;
    cursor: pointer;
    margin: 0 15px;
    background-color: transparent;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin-bottom: 2rem;
}

.boton:active {
    transform: scale(.9);
}

#b1 {
    background-image: url("https://firebasestorage.googleapis.com/v0/b/avi-webpage.appspot.com/o/iconos%2FPanader%C3%ADa%2Fred%207.png?alt=media&token=d93ce753-bfb0-488f-9479-7b5352f8f38b");
    
}

#b2 {
    background-image: url("https://firebasestorage.googleapis.com/v0/b/avi-webpage.appspot.com/o/iconos%2FPanader%C3%ADa%2Fred%201.png?alt=media&token=736517d7-e037-4822-a540-46755e4000e9");
    
}
#b3 {
    background-image: url("https://firebasestorage.googleapis.com/v0/b/avi-webpage.appspot.com/o/iconos%2FPanader%C3%ADa%2Fred%202.png?alt=media&token=071587b3-b755-49fc-adc8-dd21681f168e");
    
}

#b4 {
    background-image: url("https://firebasestorage.googleapis.com/v0/b/avi-webpage.appspot.com/o/iconos%2FPanader%C3%ADa%2Fred%203.png?alt=media&token=1e3bac4e-f853-40b6-9b3c-65a984da0587");
}

@media only screen and (max-width:768px) {

    .s-proyects h1 {
        font-size: 3rem;
    }
    .informacion>p{
        margin: 0 1rem;
    }
    .proyectos>img {
        width: 100%;
    }

}